<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <style type="text/css">.decision_card_deposit {
  padding: 40px;
  background: #000;
      color: #fff!important;
  border-radius: 20px;
      box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
      margin-top: 1em!important;
}

.highlight {
  font-weight: bold;
  color: #294;
}
    </style>
  </head>
  <body>
    <section>
    <div class="row" style="margin: auto;">
      <div class="col-12">
        <div class="decision_card_deposit row position-relative">
          <div class="col-3">
            <img src="/icons/new_decision2.png" />
          </div>

          <div class="col-9 position-static">
            <h2>
              <strong><span style="font-size:24px;">Confirm your Enrollment {% if {{bouve_cas_round}} != 'Y' %}by {{deposit_deadline}}{% endif %}</span></strong>
            </h2>
            <br />
            {% if {{phd_admit_letter_update}} == 'N' %}<u><a href="https://enroll.northeastern.edu/apply/form?id=a2e0ce5f-469d-42f0-b718-ed5507b93431"><span style="color:#FFFFFF;">Now that you've been admitted, reply to your offer of admission and reserve your seat.</span></a></u>{% endif %}{% if {{phd_admit_letter_update}} == 'Y' %}<u><a href="https://enroll.northeastern.edu/apply/form?id=a2e0ce5f-469d-42f0-b718-ed5507b93431"><span style="color:#FFFFFF;">Please review your Admit decision letter using the link above before responding to your admission offer.</span></a></u>{% endif %}
          </div>
        </div>
      </div>
    </div>
    </section>
  </body>
</html>
