<footer role="contentinfo" aria-label="global footer">
  <div class="wrapper">
    <div class="footer-top">
    <!-- component: icons/university-wordmark.html -->
      <ul class="footer-location-links">
        <li><a href="https://arlington.northeastern.edu/" target="_blank" rel="noopener noreferrer">Arlington<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://www.northeastern.edu/campuses/boston/" target="_blank" rel="noopener noreferrer">Boston<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://www.burlington.northeastern.edu/" target="_blank" rel="noopener noreferrer">Burlington<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://charlotte.northeastern.edu/" target="_blank" rel="noopener noreferrer">Charlotte<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://www.nulondon.ac.uk/" target="_blank" rel="noopener noreferrer">London<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://miami.northeastern.edu/" target="_blank" rel="noopener noreferrer">Miami<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://csi.northeastern.edu/" target="_blank" rel="noopener noreferrer">Nahant<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://nyc.northeastern.edu/" target="_blank" rel="noopener noreferrer">New York City<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://oakland.northeastern.edu/" target="_blank" rel="noopener noreferrer">Oakland<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://roux.northeastern.edu/" target="_blank" rel="noopener noreferrer">Portland<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://seattle.northeastern.edu/" target="_blank" rel="noopener noreferrer">Seattle<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://siliconvalley.northeastern.edu/" target="_blank" rel="noopener noreferrer">Silicon Valley<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://toronto.northeastern.edu/" target="_blank" rel="noopener noreferrer">Toronto<span class="visually-hidden"> (opens in a new tab)</span></a></li>
        <li><a href="https://vancouver.northeastern.edu/" target="_blank" rel="noopener noreferrer">Vancouver<span class="visually-hidden"> (opens in a new tab)</span></a></li>
      </ul>
    </div>
    <div class="footer-meta">
      <ul class="footer-secondary-links">
        <li>
          <a href="https://www.northeastern.edu/emergency-information">
            Emergency Information
          </a>
        </li>
        <li>
          <a href="https://www.northeastern.edu/privacy-information">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="https://digital-accessibility.northeastern.edu/">
            Accessibility
          </a>
        </li>
        <li class="copyright">
          &copy; 2026 Northeastern University
        </li>
      </ul>

      <ul class="footer-social-links">
        <li>
          <a href="https://www.facebook.com/northeastern/" target="_blank" rel="noopener noreferrer" aria-label="Facebook (opens in a new tab)">
            <!-- component: icons/facebook.html -->
          </a>
        </li>
        <li>
          <a href="https://x.com/Northeastern" target="_blank" rel="noopener noreferrer" aria-label="X (opens in a new tab)">
            <!-- component: icons/x.html -->
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/Northeastern" target="_blank" rel="noopener noreferrer" aria-label="YouTube (opens in a new tab)">
            <!-- component: icons/youtube.html -->
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/school/northeastern-university/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn (opens in a new tab)">
            <!-- component: icons/linkedin.html -->
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/northeastern/" target="_blank" rel="noopener noreferrer" aria-label="Instagram (opens in a new tab)">
            <!-- component: icons/instagram.html -->
          </a>
        </li>
        <li>
          <a href="https://www.snapchat.com/add/NortheasternU" target="_blank" rel="noopener noreferrer" aria-label="Snapchat (opens in a new tab)">
            <!-- component: icons/snapchat.html -->
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@northeasternu" target="_blank" rel="noopener noreferrer" aria-label="TikTok (opens in a new tab)">
            <!-- component: icons/tiktok.html -->
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-secondary-links cookies">
      <li><div x-data="NUGlobalElements.trustarc()" x-init="init()"></div></li>
    </ul>
  </div>
  </div>
</footer>
