<header role="banner">
    <div class="header-top">
      <a class="n-brand-logo" aria-label="Northeastern University (opens in a new tab)" href="https://www.northeastern.edu/" target="_blank" rel="noopener noreferrer">
        <!-- component: icons/university-monogram.html -->
      </a>
      <button type="button" class="explore hide" hidden>Explore Northeastern</button>
    </div>
    <div class="header-bottom">
      <div class="wrapper">
        <img src="images/neu-graduate.png" alt="Northeastern University Graduate">
        <button class="nav-toggle" type="button" aria-label="Open navigation" aria-expanded="false" aria-controls="primary-navigation" hidden>
          <!-- component: icons/menu-toggle.html -->
        </button>
<!-- component: navigation.html -->
      </div>
    </div>


  </header>
