<nav id="primary-navigation" aria-label="Primary">
          <ul class="navbar-nav">
            <li>
              <a aria-current="page" href="#main-content">Home<!-- component: icons/arrow-right.html --></a>
            </li>
            <li>
              <a href="?cmd=options">Submit Request<!-- component: icons/arrow-right.html --></a>
            </li>
            <li>
              <a href="">FCE Tracker<!-- component: icons/arrow-right.html --></a>
            </li>
            <!--<li>
              <a href="?cmd=testscores">Defer Your Application<!-- component: icons/arrow-right.html --></a>
            </li>--> 
            <li> 
<!-- component: account-menu.html -->
            </li>
          </ul>
        </nav>
