<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slate CRM Northeastern University Graduate Portal</title>
<!-- component: styles.html -->
</head>
<body>
  <a class="skip-link" href="#main-content">Skip to main content</a>

  <!-- Notes: Simplify Design System -->
<!-- component: header.html -->

<!-- component: content.html -->

<!-- component: footer.html -->

<!-- component: scripts.html -->
</body>
</html>