<section class="placeholder-section" aria-labelledby="placeholder-title">
  <div class="wrapper placeholder-section__layout">
    <div class="placeholder-section__collage" aria-hidden="true">
      <div class="placeholder-section__tile placeholder-section__tile--wide"></div>
      <div class="placeholder-section__tile placeholder-section__tile--red"><span>Lorem<br>ipsum.</span></div>
      <div class="placeholder-section__tile"></div>
    </div>
    <div class="placeholder-section__copy">
      <p class="placeholder-section__eyebrow">Lorem ipsum dolor</p>
      <h1 id="placeholder-title">Lorem ipsum dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</section>
