<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <!-- Redesign dev note: embedded styles extracted to ../css/extracted-module-styles.css. -->
  </head>
  <body class="module module--checklist-table-only-desktop-plus-mobile">
    <div class="neu-module-105-inline-01">
      <div class="part_admissions" id="part_admissions">
        <h3>
          Required Application Checklist Items
        </h3>
        {% if {{admit_checklist}} == 'Y' %}

        <p>
          <em><strong class="redtext">Only Official Transcripts items and Verified Test Score items (if they appear on your Checklist as Pending) are required to be completed before you enroll at Northeastern. <a href="https://northeastern.my.site.com/GraduateAdmissionsFAQ/s/article/When-is-my-application-checklist-considered-incomplete" target="_blank">Click here for more information.</a></strong></em>
        </p>
        {% endif %}{% if {{sol_app}} != 'Y' and {{awaiting_materials}} == 'N' %}

        <p>
          After you submit or arrange to send any Pending item(s), please wait at least 10 business days for your Application Checklist to be updated.<br />
          &nbsp;
        </p>
        {% endif %}

        <table>
          <tbody>
          </tbody>
          <colgroup>
            <col />
            <col />
            <col />
          </colgroup>
          <tbody>
            <tr>
              <th class="neu-module-105-inline-02">Status</th>
              <th class="neu-module-105-inline-03">Checklist Item</th>
              <th class="neu-module-105-inline-04">Date Received</th>
            </tr>
            {% for checklist in checklistitems %}
            <tr>
              <td>{% if {{checklist.status}} != 'Received' and {{checklist.status}} != 'Waived' %}<img alt="" height="22" src="/icons/awaiting.png" title="Status: Awaiting" width="22" />{% else %}<img alt="" height="22" src="/icons/received.png" title="Status: {{checklist.status}}" width="22" />{% endif %}</td>
              <td>{% if {{checklist.url}} == null %}{{checklist.subject}}{% else %}<a class="checklist_url" href="{{checklist.url}}" target="_blank">{{checklist.subject}}</a>{% endif %}</td>
              <td>{% if {{checklist.date}} %}{{checklist.date}}{% else %}Pending{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <p class="neu-module-105-inline-05">
          To update information on or re-send notification emails to recommenders, re-visit the {% if {{dmsb_cas_round}} != 'Y' %}<a class="force_underline redtext" href="/apply/ref?r=https%3a%2f%2fenroll.northeastern.edu%2fportal%2fapp_status">recommendations page</a>, click "Edit". {% endif %}{% if {{dmsb_cas_round}} == 'Y' %}recommendations page in your <a class="force_underline redtext" href="https://businesscas.org/apply/">application portal.</a>{% endif %}{% if {{sol_app}} == 'Y' %} Please note: the School of Law allows for a maximum of <b>two</b> recommendations; do not add more&nbsp;recommenders if you have already reached this limit.{% endif %}
        </p>
        {% if {{military_transcript}} == 'Y' %}

        <p class="neu-module-105-inline-06">
          Note, U.S. Military Applicants may be required to submit official documents. These documents will not delay the review of your file for admissions. Click here for more information: <a href="https://northeastern.my.site.com/GraduateAdmissionsFAQ/s/article/I-see-an-Official-Military-Checklist-Item" target="_blank">I see an Official Military Checklist Item</a> (site.com)
        </p>
        {% endif %}{% if {{kira}} == 'Y' %}

        <p class="neu-module-105-inline-07">
          To complete the Kira Assessment, you will receive an email invitation within 24 hours of application submission. You can also access your Kira interview <a href="{{kira_checkin_link}}" target="_blank">here</a>.
        </p>
        {% endif %}{% if {{missing_english_prof_score}} == 'Y' %}

        <p class="neu-module-105-inline-08">
          Your file will be reviewed pending scores being verified. Please have your official scores forwarded directly from the testing center to Northeastern University.
        </p>
        {% endif %}{% if {{app_type_bc}} == 'Y' %}

        <p>
          {% if {{admit_checklist}} == 'Y' %}<a href="https://northeastern.my.site.com/GraduateAdmissionsFAQ/s/article/I-have-been-accepted-to-the-Bachelor-Completion-program-What-is-the-timeline-for-a-Transfer-Credit-review">What is the timeline for a Transfer Credit review?</a><br />
          {% endif %}<br />
          Already submitted pending official transcripts? <a href="https://enroll.northeastern.edu/account/login?r=https%3a%2f%2fenroll.northeastern.edu%2fapply%2fform%3fid%3d8fbe8ff2-7f2e-4859-9faf-80b576d1a310">Click here</a> to put in an inquiry.
        </p>
        {% endif %}

        <p>
          <br />
          <a class="checklist_info" href="https://northeastern.my.site.com/GraduateAdmissionsFAQ/s/article/When-is-my-application-checklist-considered-incomplete" target="_blank">When is my application checklist considered incomplete?</a>
        </p>
      </div>
    </div>
  </body>
</html>
