<!--
Module: 19. Content Block - COE
Proposed Slate class names: col-left content-block
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
  </head>
  <body>
    {% if {{coe_sbr}} == 'Y' %}
    <div class="video_holder">
      <a href="https://youtu.be/tn-3nEqUC6U?si=Mr_ZVLvqyxWiJWre" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_play.jpg" /></a><!--<p>
        Professor Stefano Basagni, on Research.
      </p>-->
    </div>
    {% endif %}{% if {{coe_sba}} == 'Y' %}

    <div class="video_holder">
      <a href="https://youtu.be/yQOX4o2NJeA?si=72HPT4o94ZiUskty" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_play.jpg" /></a><!--<p>
        Professor Stefano Basagni, on Admissions.
      </p>-->
    </div>
    {% endif %}{% if {{coe_hsr}} == 'Y' %}

    <div class="video_holder">
      <a href="https://youtu.be/OuUa1vgBsvo?si=REatyeR8zxTPlXdi" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_play.jpg" /></a><!-- <p>
        Professor Hanumant Singh, on Research.
      </p> -->
    </div>
    {% endif %}{% if {{coe_hsa}} == 'Y' %}

    <div class="video_holder">
      <a href="https://youtu.be/_km8Y8uW4JA?si=zl3_bob_MlsYlBKv" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_play.jpg" /></a><!-- <p>
        Professor Hanumant Singh, on Admissions.
      </p> -->
    </div>
    {% endif %}{% if {{coe_ma}} == 'Y' %}

    <div class="video_holder">
      <a href="https://youtu.be/tSn-uyWobIE" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_ma.jpeg" /></a><!-- <p>Professor Magda Barecka shares the qualities of a successful chemical engineer, her favorite part of teaching at Northeastern, and why she thinks students should apply to the Chemical Engineering Department.
      </p> -->
    </div>
    {% endif %}{% if {{coe_sr}} == 'Y' %}

    <div class="video_holder">
      <a href="https://youtu.be/LjicTMH7azM" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_sr.jpeg" /></a><!-- <p>
      </p> -->
    </div>
    {% endif %}{% if {{coe_rs}} == 'Y' %}

    <div class="video_holder">
      <a href="https://youtu.be/GZHjT-1cl5c" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_rs(1).jpeg" /></a><!-- <p>
      </p> -->
    </div>
    {% endif %}{% if {{coe_js}} == 'Y' %}

    <div class="video_holder">
      <a href="https://youtu.be/cTf1SnSNQD0" target="_blank"><img class="video_img" src="https://enroll.northeastern.edu/www/images/coe_js.jpeg" /></a><!-- <p>
      </p> -->
    </div>
    {% endif %}
  </body>
</html>
