<!--
Module: 33. Decision (Not Award or LA or POA or Rescind; Not NU London)
Proposed Slate class names: col-left document-link
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
  </head>
  <body>
    <section>
    <div class="document-link__group">
      <div class="document-link__content">
        {% for decision in decisions_unread %}
        <div class="document-link__layout">
          <div class="document-link__media">
            <img src="/icons/new_decision2.png" />
          </div>

          <div class="document-link__content">
            <h2>
              <strong>You have a new decision</strong>
            </h2>
            <a href="/apply/update?id={{decision.guid}}" target="_blank">View your decision</a>
          </div>
        </div>
        {% endfor %}{% if {{decisions_read}} %}{% for decision in decisions_read %}

        <div class="document-link__layout">
          <div class="document-link__media">
            <img src="/icons/new_decision2.png" />
          </div>

          <div class="document-link__content">
            <h2>
              Access your previously viewed {% if {{pba}} == 'Y' and {{decision.name}} == 'Deny' %}<b>Redirect</b>{% else %}<b>{{decision.name}}</b>{% endif %} decision
            </h2>
            <a href="/apply/update?id={{decision.guid}}" target="_blank">View your decision</a><br />
            <a href="/apply/download.pdf?s={{decision.guid}}&amp;output=letter.pdf">Download your decision letter</a>
          </div>
        </div>
        {% endfor %}{% endif %}
      </div>
    </div>
    </section>
  </body>
</html>
