<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <!-- Redesign dev note: embedded styles extracted to ../css/extracted-module-styles.css. -->
  </head>
  <body class="module module--decision-award-poa-la-pal-uk-correspond-not-sol-or-london">
    <section>
    <div class="row neu-module-035-inline-01">
      <div class="col-12">
        {% for decision in decisions_award_poa %}
        <div class="decision_card row position-relative">
          <div class="col-3">
            <img src="/icons/new_decision2.png" />
          </div>

          <div class="col-9 position-static">
            <h2>
              Access your {% if {{decision.received}} == 'Y' %}previously viewed {% endif %}<b>{{decision.name}}</b> letter
            </h2>
            <a href="/apply/update?id={{decision.guid}}" target="_blank">View your letter</a><br />
            <a href="/apply/download.pdf?s={{decision.guid}}&amp;output=letter.pdf">Download your letter</a><br />
            <br />
            {% if {{decision.poa_sds_tuitionnote}} == 'Y' %}<em>Fees listed on the POA are an estimate and are updated approximately 5-6 months prior to the start of term. If the fees listed on your POA have been adjusted and you are a non-SDS student, you do not need to update IRCC.</em>{% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    </section>
  </body>
</html>
